// app global css in Sass form

.body--light
  background-color: #fdfdfd

.body--dark
  background-color: #424242

.primary--dark
  background-color: #171274

.redborder
  border: 1px solid crimson

.pinkbackground
  background-color: pink

// .basebackground
//   background-color: #ffffff

.liffr
  background-color: #5c7bd9
  color: #252525

.efnafr
  background-color: #91cc75
  color: #252525

.edlisfr
  background-color: #fac858
  color: #252525

.staerdfr
  background-color: #ee6666
  color: #252525

.almennt
  background-color: #7dd2f3
  color: #252525

.pagecard
  position: absolute
  top: 30px
  @media screen and (min-width: $breakpoint-md)
    width: 100%
    // width: 70%
    //background-color: #f1c0ff
  @media screen and (max-width: $breakpoint-md)
    width: 100%
    // width: 80%
    //background-color: #c2ffc0
  @media screen and (max-width: $breakpoint-xs)
    top: 5px
    width: 100%
    //background-color: #c0d2ff
